<%- include('../template/head') -%>

    <main>
        <h1>
            <%= nombre %>
        </h1>

        <img src=<%=imagen %> class="imagen-creador">
        <div class="datos-creador">
            <p>
                <span>Sitio web: </span>
                <a href=<%=sitio %>>
                    <%= sitio %>
                </a>
            </p>
            <p>
                <span>Correo electrónico: </span>
                <%= correo %>
            </p>
            <p>
                <span>Teléfono: </span>
                <%= telefono %>
            </p>
            <p>
                <span>Calificación: </span>0
            </p>
        </div>

        <h3>Juegos del creador:</h3>
        <table class="juegos-creador">
            <% for(var i=0; i < juegos.length; i++) { %>
                <tr class="clickable-row">
                    <td class="fila-juego">
                        <img src=<%=juegos[i].imagen %> class="imagen-juego">
                        <div class="datos-juego">
                            <div class="clasificacion-juego">
                                <span>
                                    <a href="/juego/<%= juegos[i].nombre %>">
                                        <%= juegos[i].nombre %>
                                    </a>

                                </span>
                                <p>Calificación: 5</p>
                            </div>
                            <%= juegos[i].descripcion %>
                        </div>
                    </td>

                    <td>
                        <a href="/modificarjuego">
                            <button class="btn-info">Editar</button>
                        </a>
                    </td>
                    <td>
                        <button onclick="eliminarjuego('<%= juegos[i].nombre %>')" id="borrar-juego"
                            class="btn-danger">Borrar</button>

                    </td>
                </tr>
                <% } %>
        </table>

        <a href="/login">
            <button class="cerrar-sesion btn-danger">Cerrar Sesión</button>
        </a>
    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="./js/clickable.js"></script>

    <script type="text/javascript">
        function eliminarjuego(id) {
            var answer = window.confirm("¿Estas seguro de eliminar el juego \"" + id + "\"?");
            if (answer) {
                window.location.href = "perfil/borrarjuego/" + id
            }
        }
    </script>
    <%- include('../template/footer')-%>