<%- include('../template/head') -%>

    <main>
        <h1>
            Perfil
        </h1>
        <form role="form">
            <div class="form-group">
                <label for="inputNombre">Nombre</label>
                <input id="inputNombre" class="form-control" placeholder="Nombre" value="<%= nombre %> ">
            </div>
            <img src=<%=imagen %> class="imagen-creador">
            <div class="form-group">
                <label for="inputImage">Foto de perfil</label>
                <input id="inputImage" type="text" class="form-control" value="<%= imagen %> ">
            </div>
            <div>
                <div class="form-group">
                    <label for="inputSitio">Sitio web</label>
                    <input id="inputSitio" type="text" class="form-control" value="<%= sitio %> ">
                </div>
                <div class="form-group">
                    <label for="inputTelefono">Teléfono</label>
                    <input id="inputTelefono" type="text" class="form-control" value="<%= telefono %> ">
                </div>
                <div class="form-group">
                    <label for="inputCorreo">Correo elecrónico</label>
                    <input id="inputCorreo" type="text" class="form-control" disabled="true" value="<%= correo %> ">
                </div>
            </div>
            <button id="guardar-cambios" type="submit" class="btn btn-primary btn-sm">Guardar cambios</button>
        </form>
        <h3>Juegos del creador:</h3>
        <% if(juegos.length !=0) {%>
            <table class="juegos-creador">
                <% for(var i=0; i < juegos.length; i++) { %>
                    <tr class="clickable-row">
                        <td class="fila-juego">
                            <img src=<%=juegos[i].imagen %> class="imagen-juego">
                            <div class="datos-juego">
                                <div class="clasificacion-juego">
                                    <span>
                                        <a href="/juego/<%= juegos[i]._id %>">
                                            <%= juegos[i].nombre %>
                                        </a>

                                    </span>
                                    <p>Calificación: 5</p>
                                </div>
                                <%= juegos[i].descripcion %>
                            </div>
                        </td>

                        <td>
                            <a href="/modificarjuego/<%= juegos[i]._id %>">
                                <button class="btn-info">Editar</button>
                            </a>
                        </td>
                        <td>
                            <button onclick="eliminarjuego('<%= juegos[i]._id %>','<%= juegos[i].nombre %>')"
                                id="borrar-juego" class="btn-danger">Borrar</button>

                        </td>
                    </tr>
                    <% } %>
            </table>
            <% }else{ %>
                <h3>No se encontraron juegos disponibles</h3>
                <% } %>
                    <a href="/logoff">
                        <button class="cerrar-sesion btn-danger">Cerrar Sesión</button>
                    </a>
                    <div id="<%= _id %>" name="id-perfil"></div>
    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="./js/clickable.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="./js/perfil.js"></script>
    
    <%- include('../template/footer')-%>